/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header{
    height: 80px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.header-left{
    width: calc(30%);
    background-color: blueviolet;
    height: 100%;
}

.header-right{
    width: calc(30%);
    background-color: blueviolet;
    height: 100%;
}