/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header{
    height: 80px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.header-left{
    width: calc(30%);
    background-color: blueviolet;
    height: 100%;
}

.header-right{
    width: calc(30%);
    background-color: blueviolet;
    height: 100%;
}

/* JUMBOTRON */
.jumbotron-section{
    background-color: #b4d0e7;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.jumbotron-container{
    height: calc(90%);
    width: calc(70%);
    background-color: lightgreen;
}

.jumbotron-title{
    height: 20%;
    width: 90%;
    background-color: lightpink;
}
.jumbotron-row{
    height: 100%;
    display: flex;
}

.jumbotron-col-1{
    width: 50%;
    height: 80%;
    background-color: aqua;
}

.jumbotron-col-2{
    width: 50%;
    height: 80%;
    background-color: lightcoral;
}

.section-1-container{
    width: calc(60%);
    margin: 0 auto;
    margin-top: 50px;
}

.sec-1-title{
    height: 80px;
    width: 100%;
    background-color: orangered;
}

.sec-1-row{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.sec-1-col{
    width: calc(100% / 3 - 10px);
    height: 70vh;
    background-color: gold;
}

.sec-1-wide-col{
    width: calc(100%);
    height: 20vh;
    background-color: violet;
}

/* SECTION-2 */
.section-2-container{
    width: calc(60%);
    height: 400px;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sec-2-image{
    height: 100%;
    width: 50%;
    background-color: royalblue;
}

.sec-2-text{
    height: 100%;
    width: 50%;
    background-color: orchid;
}

/* SECTION-3 */
.section-3-container{
    width: calc(60%);
    height: 800px;
    margin: 0 auto;
}

.sec-3-title{
    height: calc(10%);
    background-color: yellow;
}

.sec-3-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.sec-3-col{
    height: 300px;
    width: calc(100% / 3 - 10px);
    background-color: bisque;
}